.container {
  font-size: 19px;
  line-height: 33px;
}

.option {
  display: inline-block;
  margin-right: 19px;
}

.option span {
  font-weight: 500;
}

.option a {
  color: hsl(0, 80%, 50%);
  text-decoration: none;
}
