.topic {
  font-family: Avenir, sans-serif;
  font-size: 20px;
  line-height: 28px;
  overflow-wrap: break-word;
  overflow: hidden;
  padding-bottom: 20px;
}

.topic div {
  text-align: left !important;
}

.topic img {
  height: auto;
  width: auto;
  max-width: 100%;
}

.title {
  font-size: 28px;
  line-height: 40px;
}

.author {
  font-size: 22px;
  line-height: 32px;
  color: hsl(35, 100%, 50%);
}
