.container {
  font-family: Avenir, sans-serif;
  margin: auto;
  max-width: 800px;
}

.topic {
  font-size: 20px;
  line-height: 28px;
  overflow-wrap: break-word;
  overflow: hidden;
  padding-bottom: 20px;
  font-weight: 500;
}

.topic div {
  text-align: left !important;
}

.topic img {
  border-radius: 5px;
  height: auto;
  width: auto;
  max-width: 100%;
}

.title {
  font-size: 28px;
  line-height: 40px;
}

.author {
  font-size: 22px;
  line-height: 32px;
  color: hsl(0, 0%, 45%);
  font-weight: 500;
}

.externalLink {
  font-weight: 500;
  text-decoration: none;
  color: hsl(0, 80%, 50%);
  display: inline-block;
  margin-left: 1em;
}
